.card {
  width: 10rem;
  position: relative;
}

.heartButton {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}

.image {
  width: 10rem;
  border-radius: 1rem;
}
@media (max-height: 667px) {
  .card {
    width: 8rem;
    position: relative;
  }

  .heartButton {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
  }

  .image {
    width: 8rem;
  }
}
