main {
  display: grid;
  height: 100vh;
  align-content: space-evenly;
}

h2 {
  grid-area: 1/1;
  text-align: center;
}

.contactForm {
  height: 70vh;
  display: grid;
  grid-area: 1/1;
  align-content: space-evenly;
  justify-items: center;
}

.message {
  height: 12rem;
  font-family: var(--text-paragraph);
  color: var(--shadow-color);
  border: none;
  border-bottom: 2px solid var(--shadow-color);
  width: 90%;
  text-decoration: none;
}

.button {
  grid-area: 4/1;
}
