.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.7rem;
  height: 90vh;
}

.sex {
  display: flex;
  align-content: space-around;
  column-gap: 1.5rem;
  margin: 1rem 0;
}

.rangeIdentifier {
  display: flex;
  column-gap: 7rem;
}

.neutered {
  display: flex;
  margin: 1rem 0;
  column-gap: 2.2rem;
}

.tolerate {
  margin-top: 1rem;
  align-self: flex-start;
  padding-left: 1rem;
}

.tolerateCheckboxes {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  row-gap: 0.5rem;
}
