.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  align-items: center;
  position: relative;
}

.loginText {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
}

.label {
  background-color: var(--shadow-color);
  width: 9rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.1rem;
}

.label:hover,
.label:focus-within {
  background-color: var(--action-color);
}

.label > p {
  color: var(--background-color);
  align-items: center;
  padding-left: 1rem;
}

.radioButton {
  position: absolute;
  left: 1;
  top: 1;
}

.button {
  text-decoration: none;
}
