*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(../assets/BackgroundShapes/BGblue.png),
    url(../assets/BackgroundShapes/BGpink.png),
    url(../assets/BackgroundShapes/BGyellow1.png),
    url(../assets/BackgroundShapes/BGyellow2.png);
  background-position: bottom 0 left 0, top 0 right 0, top 0 left 0,
    bottom 0 right 0;
  background-repeat: no-repeat;
  background-size: inherit;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 300, 400, 500;
}

:root {
  --text-header: 'Raleway', sans-serif;
  --text-paragraph: 'Roboto';
  --text-color: #80636d;
  --background-color: #fbfbfb;
  --action-color: #f06f96;
  --shadow-color: #2e4261;
}
