*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Raleway';
  src: url(src/assets/fonts/Raleway/static/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(src/assets/fonts/Roboto/Roboto-Light.ttf);
  src: url(src/assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 400, 500;
}

:root {
  --text-header: 'Raleway', sans-serif;
  --text-paragraph: 'Roboto';
  --text-color: #80636d;
  --background-color: #fbfbfb;
  --action-color: #f06f96;
  --shadow-color: #2e4261;
}
