*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  src: url(src/assets/fonts/Raleway/static/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(src/assets/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 400;
}

:root {
  --text-header: 'Raleway', sans-serif;
  --text-paragraph: 'Roboto';
}
