main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.dogCards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 1rem;
}
.button {
  text-decoration: none;
}

@media (max-width: 375px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    row-gap: 0.5rem;
  }

  .dogCards {
    margin: 0.5rem;
  }
}
