.burgerMenu {
  background-color: var(--action-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.burgerButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
